# Ignore all .env files across the project
**/.env

# Ignore node_modules in proof-submission
proof-submission/node_modules/


zkCrowdFund/target/
zkCrowdFund/methods/guest/target/

zkCrowdFund/Cargo.lock
zkCrowdFund/methods/guest/Cargo.lock


.DS_Store
zkCrowdFund/.DS_Store




